=begin
#The Selling Partner API for Amazon Seller Wallet Open Banking API Spec.  For more information, refer to the [Seller Wallet Open Banking API Use Case Guide](doc:seller-wallet-open-banking-api-v2024-03-01-use-case-guide).

#The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.

OpenAPI spec version: 2024-03-01

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::SellerWalletApiModel
  class TransferScheduleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a transfer schedule request from Amazon SW account to another customer provided account
    # Create a transfer schedule request from a Seller Wallet account to another customer-provided account.
    # @param body Defines the actual payload of the request
    # @param dest_account_digital_signature Digital signature for the destination bank account details.
    # @param amount_digital_signature Digital signature for the source currency transaction amount.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [TransferSchedule]
    def create_transfer_schedule(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts = {})
      data, _status_code, _headers = create_transfer_schedule_with_http_info(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts)
      data
    end

    # Create a transfer schedule request from Amazon SW account to another customer provided account
    # Create a transfer schedule request from a Seller Wallet account to another customer-provided account.
    # @param body Defines the actual payload of the request
    # @param dest_account_digital_signature Digital signature for the destination bank account details.
    # @param amount_digital_signature Digital signature for the source currency transaction amount.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransferSchedule, Integer, Hash)>] TransferSchedule data, response status code and response headers
    def create_transfer_schedule_with_http_info(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransferScheduleApi.create_transfer_schedule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TransferScheduleApi.create_transfer_schedule"
      end
      # verify the required parameter 'dest_account_digital_signature' is set
      if @api_client.config.client_side_validation && dest_account_digital_signature.nil?
        fail ArgumentError, "Missing the required parameter 'dest_account_digital_signature' when calling TransferScheduleApi.create_transfer_schedule"
      end
      # verify the required parameter 'amount_digital_signature' is set
      if @api_client.config.client_side_validation && amount_digital_signature.nil?
        fail ArgumentError, "Missing the required parameter 'amount_digital_signature' when calling TransferScheduleApi.create_transfer_schedule"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransferScheduleApi.create_transfer_schedule"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transferSchedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'destAccountDigitalSignature'] = dest_account_digital_signature
      header_params[:'amountDigitalSignature'] = amount_digital_signature

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TransferSchedule' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransferScheduleApi#create_transfer_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a transaction request that is scheduled from Amazon Seller Wallet account to another customer-provided account
    # Delete a transaction request that is scheduled from Amazon Seller Wallet account to another customer-provided account.
    # @param transfer_schedule_id A unique reference ID for a scheduled transfer.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [DeleteTransferSchedule]
    def delete_schedule_transaction(transfer_schedule_id, marketplace_id, opts = {})
      data, _status_code, _headers = delete_schedule_transaction_with_http_info(transfer_schedule_id, marketplace_id, opts)
      data
    end

    # Delete a transaction request that is scheduled from Amazon Seller Wallet account to another customer-provided account
    # Delete a transaction request that is scheduled from Amazon Seller Wallet account to another customer-provided account.
    # @param transfer_schedule_id A unique reference ID for a scheduled transfer.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteTransferSchedule, Integer, Hash)>] DeleteTransferSchedule data, response status code and response headers
    def delete_schedule_transaction_with_http_info(transfer_schedule_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransferScheduleApi.delete_schedule_transaction ...'
      end
      # verify the required parameter 'transfer_schedule_id' is set
      if @api_client.config.client_side_validation && transfer_schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_schedule_id' when calling TransferScheduleApi.delete_schedule_transaction"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransferScheduleApi.delete_schedule_transaction"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transferSchedules/{transferScheduleId}'.sub('{' + 'transferScheduleId' + '}', transfer_schedule_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DeleteTransferSchedule' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransferScheduleApi#delete_schedule_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find particular Amazon Seller Wallet account transfer schedule by Amazon transfer schedule identifier
    # Find a particular Amazon Seller Wallet account transfer schedule.
    # @param transfer_schedule_id The schedule ID of the Amazon Seller Wallet transfer.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [TransferSchedule]
    def get_transfer_schedule(transfer_schedule_id, marketplace_id, opts = {})
      data, _status_code, _headers = get_transfer_schedule_with_http_info(transfer_schedule_id, marketplace_id, opts)
      data
    end

    # Find particular Amazon Seller Wallet account transfer schedule by Amazon transfer schedule identifier
    # Find a particular Amazon Seller Wallet account transfer schedule.
    # @param transfer_schedule_id The schedule ID of the Amazon Seller Wallet transfer.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransferSchedule, Integer, Hash)>] TransferSchedule data, response status code and response headers
    def get_transfer_schedule_with_http_info(transfer_schedule_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransferScheduleApi.get_transfer_schedule ...'
      end
      # verify the required parameter 'transfer_schedule_id' is set
      if @api_client.config.client_side_validation && transfer_schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_schedule_id' when calling TransferScheduleApi.get_transfer_schedule"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransferScheduleApi.get_transfer_schedule"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transferSchedules/{transferScheduleId}'.sub('{' + 'transferScheduleId' + '}', transfer_schedule_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TransferSchedule' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransferScheduleApi#get_transfer_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # The API will return all the transfer schedules for a given Amazon SW account
    # Retrieve transfer schedules of a Seller Wallet bank account.
    # @param account_id ID of the Amazon SW account
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token Pagination token to retrieve a specific page of results.
    # @return [TransferScheduleListing]
    def list_transfer_schedules(account_id, marketplace_id, opts = {})
      data, _status_code, _headers = list_transfer_schedules_with_http_info(account_id, marketplace_id, opts)
      data
    end

    # The API will return all the transfer schedules for a given Amazon SW account
    # Retrieve transfer schedules of a Seller Wallet bank account.
    # @param account_id ID of the Amazon SW account
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token Pagination token to retrieve a specific page of results.
    # @return [Array<(TransferScheduleListing, Integer, Hash)>] TransferScheduleListing data, response status code and response headers
    def list_transfer_schedules_with_http_info(account_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransferScheduleApi.list_transfer_schedules ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TransferScheduleApi.list_transfer_schedules"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransferScheduleApi.list_transfer_schedules"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transferSchedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'marketplaceId'] = marketplace_id
      query_params[:'nextPageToken'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TransferScheduleListing' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransferScheduleApi#list_transfer_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a transfer schedule information. Only fields (i.e; transferScheduleInformation, paymentPreference, transferScheduleStatus) in the request body can be updated.
    # Returns a transfer belonging to the updated scheduled transfer request
    # @param body Defines the actual payload of the scheduled transfer request that is to be updated. 
    # @param dest_account_digital_signature Digital signature for the destination bank account details.
    # @param amount_digital_signature Digital signature for the source currency transaction amount.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [TransferSchedule]
    def update_transfer_schedule(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts = {})
      data, _status_code, _headers = update_transfer_schedule_with_http_info(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts)
      data
    end

    # Update a transfer schedule information. Only fields (i.e; transferScheduleInformation, paymentPreference, transferScheduleStatus) in the request body can be updated.
    # Returns a transfer belonging to the updated scheduled transfer request
    # @param body Defines the actual payload of the scheduled transfer request that is to be updated. 
    # @param dest_account_digital_signature Digital signature for the destination bank account details.
    # @param amount_digital_signature Digital signature for the source currency transaction amount.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransferSchedule, Integer, Hash)>] TransferSchedule data, response status code and response headers
    def update_transfer_schedule_with_http_info(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransferScheduleApi.update_transfer_schedule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TransferScheduleApi.update_transfer_schedule"
      end
      # verify the required parameter 'dest_account_digital_signature' is set
      if @api_client.config.client_side_validation && dest_account_digital_signature.nil?
        fail ArgumentError, "Missing the required parameter 'dest_account_digital_signature' when calling TransferScheduleApi.update_transfer_schedule"
      end
      # verify the required parameter 'amount_digital_signature' is set
      if @api_client.config.client_side_validation && amount_digital_signature.nil?
        fail ArgumentError, "Missing the required parameter 'amount_digital_signature' when calling TransferScheduleApi.update_transfer_schedule"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransferScheduleApi.update_transfer_schedule"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transferSchedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'destAccountDigitalSignature'] = dest_account_digital_signature
      header_params[:'amountDigitalSignature'] = amount_digital_signature

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TransferSchedule' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransferScheduleApi#update_transfer_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
