=begin
#The Selling Partner API for Amazon Seller Wallet Open Banking API Spec.  For more information, refer to the [Seller Wallet Open Banking API Use Case Guide](doc:seller-wallet-open-banking-api-v2024-03-01-use-case-guide).

#The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.

OpenAPI spec version: 2024-03-01

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::SellerWalletApiModel
  class TransactionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a transaction request from Amazon SW account to another customer provided account
    # Create a transaction request from a Seller Wallet account to another customer-provided account.
    # @param body Defines the actual payload of the request
    # @param dest_account_digital_signature Digital signature for the destination bank account details. For more information, refer to [Third-Party Provider Signature Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance).
    # @param amount_digital_signature Digital signature for the source currency transaction amount. Sign in the order of the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party Provider Signature Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance).
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [CreateTransactionResponse]
    def create_transaction(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts = {})
      data, _status_code, _headers = create_transaction_with_http_info(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts)
      data
    end

    # Create a transaction request from Amazon SW account to another customer provided account
    # Create a transaction request from a Seller Wallet account to another customer-provided account.
    # @param body Defines the actual payload of the request
    # @param dest_account_digital_signature Digital signature for the destination bank account details. For more information, refer to [Third-Party Provider Signature Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance).
    # @param amount_digital_signature Digital signature for the source currency transaction amount. Sign in the order of the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party Provider Signature Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance).
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTransactionResponse, Integer, Hash)>] CreateTransactionResponse data, response status code and response headers
    def create_transaction_with_http_info(body, dest_account_digital_signature, amount_digital_signature, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsApi.create_transaction ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TransactionsApi.create_transaction"
      end
      # verify the required parameter 'dest_account_digital_signature' is set
      if @api_client.config.client_side_validation && dest_account_digital_signature.nil?
        fail ArgumentError, "Missing the required parameter 'dest_account_digital_signature' when calling TransactionsApi.create_transaction"
      end
      # verify the required parameter 'amount_digital_signature' is set
      if @api_client.config.client_side_validation && amount_digital_signature.nil?
        fail ArgumentError, "Missing the required parameter 'amount_digital_signature' when calling TransactionsApi.create_transaction"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransactionsApi.create_transaction"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'destAccountDigitalSignature'] = dest_account_digital_signature
      header_params[:'amountDigitalSignature'] = amount_digital_signature

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'CreateTransactionResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsApi#create_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find particular Amazon SW account transaction by Amazon transaction identifier
    # Returns a transaction
    # @param transaction_id ID of the Amazon SW transaction
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Transaction]
    def get_transaction(transaction_id, marketplace_id, opts = {})
      data, _status_code, _headers = get_transaction_with_http_info(transaction_id, marketplace_id, opts)
      data
    end

    # Find particular Amazon SW account transaction by Amazon transaction identifier
    # Returns a transaction
    # @param transaction_id ID of the Amazon SW transaction
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Transaction, Integer, Hash)>] Transaction data, response status code and response headers
    def get_transaction_with_http_info(transaction_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsApi.get_transaction ...'
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling TransactionsApi.get_transaction"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransactionsApi.get_transaction"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transactions/{transactionId}'.sub('{' + 'transactionId' + '}', transaction_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Transaction' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsApi#get_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # The API will return all the transactions for a given Amazon SW account sorted by the transaction request date
    # Retrieve a list of transactions for a given Seller Wallet bank account.
    # @param account_id ID of the Amazon SW account
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token Pagination token to retrieve a specific page of results.
    # @return [TransactionListing]
    def list_account_transactions(account_id, marketplace_id, opts = {})
      data, _status_code, _headers = list_account_transactions_with_http_info(account_id, marketplace_id, opts)
      data
    end

    # The API will return all the transactions for a given Amazon SW account sorted by the transaction request date
    # Retrieve a list of transactions for a given Seller Wallet bank account.
    # @param account_id ID of the Amazon SW account
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token Pagination token to retrieve a specific page of results.
    # @return [Array<(TransactionListing, Integer, Hash)>] TransactionListing data, response status code and response headers
    def list_account_transactions_with_http_info(account_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsApi.list_account_transactions ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TransactionsApi.list_account_transactions"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransactionsApi.list_account_transactions"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'marketplaceId'] = marketplace_id
      query_params[:'nextPageToken'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TransactionListing' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsApi#list_account_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
