=begin
#The Selling Partner API for Amazon Seller Wallet Open Banking API Spec.  For more information, refer to the [Seller Wallet Open Banking API Use Case Guide](doc:seller-wallet-open-banking-api-v2024-03-01-use-case-guide).

#The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.

OpenAPI spec version: 2024-03-01

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::SellerWalletApiModel
  class TransferPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch potential fees that could be applied on a transaction on the basis of the source and destination country currency code
    # Returns list of potential fees on a transaction based on the source and destination country currency code
    # @param source_country_code Represents 2 character country code of source transaction account in ISO 3166 standard format.
    # @param source_currency_code Represents 3 letter currency code in ISO 4217 standard format of the source transaction country.
    # @param destination_country_code Represents 2 character country code of destination transaction account in ISO 3166 standard format.
    # @param destination_currency_code Represents 3 letter currency code in ISO 4217 standard format of the destination transaction country.
    # @param base_amount Represents the base transaction amount without any markup fees, rates that will be used to get the transfer preview.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [TransferRatePreview]
    def get_transfer_preview(source_country_code, source_currency_code, destination_country_code, destination_currency_code, base_amount, marketplace_id, opts = {})
      data, _status_code, _headers = get_transfer_preview_with_http_info(source_country_code, source_currency_code, destination_country_code, destination_currency_code, base_amount, marketplace_id, opts)
      data
    end

    # Fetch potential fees that could be applied on a transaction on the basis of the source and destination country currency code
    # Returns list of potential fees on a transaction based on the source and destination country currency code
    # @param source_country_code Represents 2 character country code of source transaction account in ISO 3166 standard format.
    # @param source_currency_code Represents 3 letter currency code in ISO 4217 standard format of the source transaction country.
    # @param destination_country_code Represents 2 character country code of destination transaction account in ISO 3166 standard format.
    # @param destination_currency_code Represents 3 letter currency code in ISO 4217 standard format of the destination transaction country.
    # @param base_amount Represents the base transaction amount without any markup fees, rates that will be used to get the transfer preview.
    # @param marketplace_id The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransferRatePreview, Integer, Hash)>] TransferRatePreview data, response status code and response headers
    def get_transfer_preview_with_http_info(source_country_code, source_currency_code, destination_country_code, destination_currency_code, base_amount, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransferPreviewApi.get_transfer_preview ...'
      end
      # verify the required parameter 'source_country_code' is set
      if @api_client.config.client_side_validation && source_country_code.nil?
        fail ArgumentError, "Missing the required parameter 'source_country_code' when calling TransferPreviewApi.get_transfer_preview"
      end
      # verify the required parameter 'source_currency_code' is set
      if @api_client.config.client_side_validation && source_currency_code.nil?
        fail ArgumentError, "Missing the required parameter 'source_currency_code' when calling TransferPreviewApi.get_transfer_preview"
      end
      # verify the required parameter 'destination_country_code' is set
      if @api_client.config.client_side_validation && destination_country_code.nil?
        fail ArgumentError, "Missing the required parameter 'destination_country_code' when calling TransferPreviewApi.get_transfer_preview"
      end
      # verify the required parameter 'destination_currency_code' is set
      if @api_client.config.client_side_validation && destination_currency_code.nil?
        fail ArgumentError, "Missing the required parameter 'destination_currency_code' when calling TransferPreviewApi.get_transfer_preview"
      end
      # verify the required parameter 'base_amount' is set
      if @api_client.config.client_side_validation && base_amount.nil?
        fail ArgumentError, "Missing the required parameter 'base_amount' when calling TransferPreviewApi.get_transfer_preview"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling TransferPreviewApi.get_transfer_preview"
      end
      # resource path
      local_var_path = '/finances/transfers/wallet/2024-03-01/transferPreview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sourceCountryCode'] = source_country_code
      query_params[:'sourceCurrencyCode'] = source_currency_code
      query_params[:'destinationCountryCode'] = destination_country_code
      query_params[:'destinationCurrencyCode'] = destination_currency_code
      query_params[:'baseAmount'] = base_amount
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TransferRatePreview' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransferPreviewApi#get_transfer_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
