=begin
#Selling Partner API for Direct Fulfillment Shipping

#The Selling Partner API for Direct Fulfillment Shipping provides programmatic access to a direct fulfillment vendor's shipping data.

OpenAPI spec version: 2021-12-28

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.63
=end

module AmzSpApi::VendorDirectFulfillmentShippingApiModel20211228
  class CreateContainerLabelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates container (pallet) label for provided shipment package association
    # @param body Request body containing the container label data.
    # @param [Hash] opts the optional parameters
    # @return [CreateContainerLabelResponse]
    def create_container_label(body, opts = {})
      data, _status_code, _headers = create_container_label_with_http_info(body, opts)
      data
    end

    # Creates container (pallet) label for provided shipment package association
    # @param body Request body containing the container label data.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateContainerLabelResponse, Integer, Hash)>] CreateContainerLabelResponse data, response status code and response headers
    def create_container_label_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreateContainerLabelApi.create_container_label ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CreateContainerLabelApi.create_container_label"
      end
      # resource path
      local_var_path = '/vendor/directFulfillment/shipping/2021-12-28/containerLabel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'containerLabel'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'CreateContainerLabelResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreateContainerLabelApi#create_container_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
