# AmzSpApi::OrdersApiModelV0::VerificationStatus

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------

