# AmzSpApi::OrdersApiModel::V0::VerificationStatus

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------

