# NOTE: Generated from https://github.com/amzn/selling-partner-api-models/tree/df0f6a4d062dc27a42952c07a681d937172e38d8/models
# NOTE: If you need to regenerate: ./pull_models.sh && ./codegen.sh

=begin
#The Selling Partner API for Amazon External Fulfillment Return Item Processing

#You can use the Amazon External Fulfillment Return Item Processing API to retrieve, track, and process return items through Amazon's External Fulfillment returns management system.

OpenAPI spec version: 2024-09-11
Contact: marketplaceapitest@amazon.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::ExternalFulfillment
  class ReturnRetrievalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve the return item with the specified ID.
    # @param return_id The ID of the return item you want.
    # @param [Hash] opts the optional parameters
    # @return [ModelReturn]
    def get_return(return_id, opts = {})
      data, _status_code, _headers = get_return_with_http_info(return_id, opts)
      data
    end

    # Retrieve the return item with the specified ID.
    # @param return_id The ID of the return item you want.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelReturn, Integer, Hash)>] ModelReturn data, response status code and response headers
    def get_return_with_http_info(return_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnRetrievalApi.get_return ...'
      end
      # verify the required parameter 'return_id' is set
      if @api_client.config.client_side_validation && return_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_id' when calling ReturnRetrievalApi.get_return"
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/returns/{returnId}'.sub('{' + 'returnId' + '}', return_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ModelReturn' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnRetrievalApi#get_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_location_id The SmartConnect location ID of the location from which you want to retrieve return items.
    # @option opts [String] :rma_id The RMA ID of the return items you want to list.
    # @option opts [String] :status The status of return items you want to list. You can retrieve all new return items with the &#x60;CREATED&#x60; status.
    # @option opts [String] :reverse_tracking_id The reverse tracking ID of the return items you want to list.
    # @option opts [DateTime] :created_since Return items created after the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [DateTime] :created_until Return items created before the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [DateTime] :last_updated_since Return items updated after the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;.
    # @option opts [DateTime] :last_updated_until Return items whose most recent update is before the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;.
    # @option opts [DateTime] :last_updated_after DEPRECATED. Use the &#x60;createdSince&#x60; parameter.
    # @option opts [DateTime] :last_updated_before DEPRECATED. Use the &#x60;createdUntil&#x60; parameter.
    # @option opts [Integer] :max_results The number of return items you want to include in the response.  **Default:** 10  **Maximum:** 100
    # @option opts [String] :next_token A token that you use to retrieve the next page of results. The response includes &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return empty pages.
    # @return [ReturnsResponse]
    def list_returns(opts = {})
      data, _status_code, _headers = list_returns_with_http_info(opts)
      data
    end

    # Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_location_id The SmartConnect location ID of the location from which you want to retrieve return items.
    # @option opts [String] :rma_id The RMA ID of the return items you want to list.
    # @option opts [String] :status The status of return items you want to list. You can retrieve all new return items with the &#x60;CREATED&#x60; status.
    # @option opts [String] :reverse_tracking_id The reverse tracking ID of the return items you want to list.
    # @option opts [DateTime] :created_since Return items created after the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [DateTime] :created_until Return items created before the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
    # @option opts [DateTime] :last_updated_since Return items updated after the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;.
    # @option opts [DateTime] :last_updated_until Return items whose most recent update is before the specified date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;.
    # @option opts [DateTime] :last_updated_after DEPRECATED. Use the &#x60;createdSince&#x60; parameter.
    # @option opts [DateTime] :last_updated_before DEPRECATED. Use the &#x60;createdUntil&#x60; parameter.
    # @option opts [Integer] :max_results The number of return items you want to include in the response.  **Default:** 10  **Maximum:** 100
    # @option opts [String] :next_token A token that you use to retrieve the next page of results. The response includes &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return empty pages.
    # @return [Array<(ReturnsResponse, Integer, Hash)>] ReturnsResponse data, response status code and response headers
    def list_returns_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnRetrievalApi.list_returns ...'
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['CREATED', 'CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER', 'CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER', 'CUSTOMER_CANCELLED_PICK_UP', 'CUSTOMER_RESCHEDULED_PICK_UP', 'PICKED_FROM_CUSTOMER', 'IN_TRANSIT', 'OUT_FOR_DELIVERY', 'DELIVERED', 'REPLANNED', 'CUSTOMER_DROPPED_OFF', 'PARTIALLY_PROCESSED', 'PROCESSED', 'REJECTED', 'CANCELLED'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of CREATED, CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER, CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER, CUSTOMER_CANCELLED_PICK_UP, CUSTOMER_RESCHEDULED_PICK_UP, PICKED_FROM_CUSTOMER, IN_TRANSIT, OUT_FOR_DELIVERY, DELIVERED, REPLANNED, CUSTOMER_DROPPED_OFF, PARTIALLY_PROCESSED, PROCESSED, REJECTED, CANCELLED'
      end
      # resource path
      local_var_path = '/externalFulfillment/2024-09-11/returns'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnLocationId'] = opts[:'return_location_id'] if !opts[:'return_location_id'].nil?
      query_params[:'rmaId'] = opts[:'rma_id'] if !opts[:'rma_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'reverseTrackingId'] = opts[:'reverse_tracking_id'] if !opts[:'reverse_tracking_id'].nil?
      query_params[:'createdSince'] = opts[:'created_since'] if !opts[:'created_since'].nil?
      query_params[:'createdUntil'] = opts[:'created_until'] if !opts[:'created_until'].nil?
      query_params[:'lastUpdatedSince'] = opts[:'last_updated_since'] if !opts[:'last_updated_since'].nil?
      query_params[:'lastUpdatedUntil'] = opts[:'last_updated_until'] if !opts[:'last_updated_until'].nil?
      query_params[:'lastUpdatedAfter'] = opts[:'last_updated_after'] if !opts[:'last_updated_after'].nil?
      query_params[:'lastUpdatedBefore'] = opts[:'last_updated_before'] if !opts[:'last_updated_before'].nil?
      query_params[:'maxResults'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'nextToken'] = opts[:'next_token'] if !opts[:'next_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ReturnsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnRetrievalApi#list_returns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
