=begin
#The Selling Partner API for CustomerFeedback

#The Selling Partner API for Customer Feedback (Customer Feedback API) provides information about customer reviews and returns at both the item and browse node level.

OpenAPI spec version: 2024-06-01

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::CustomerFeedbackApiModel
  class CustomerFeedbackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve the topics that customers mention when they return items in a browse node.
    # @param browse_node_id A browse node ID is a unique identifier for a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [BrowseNodeReturnTopicsResponse]
    def get_browse_node_return_topics(browse_node_id, marketplace_id, opts = {})
      data, _status_code, _headers = get_browse_node_return_topics_with_http_info(browse_node_id, marketplace_id, opts)
      data
    end

    # Retrieve the topics that customers mention when they return items in a browse node.
    # @param browse_node_id A browse node ID is a unique identifier for a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowseNodeReturnTopicsResponse, Integer, Hash)>] BrowseNodeReturnTopicsResponse data, response status code and response headers
    def get_browse_node_return_topics_with_http_info(browse_node_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_browse_node_return_topics ...'
      end
      # verify the required parameter 'browse_node_id' is set
      if @api_client.config.client_side_validation && browse_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'browse_node_id' when calling CustomerFeedbackApi.get_browse_node_return_topics"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_browse_node_return_topics"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/browseNodes/{browseNodeId}/returns/topics'.sub('{' + 'browseNodeId' + '}', browse_node_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BrowseNodeReturnTopicsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_browse_node_return_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve the trends of topics that customers mention when they return items in a browse node.
    # @param browse_node_id A browse node ID is a unique identifier of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [BrowseNodeReturnTrendsResponse]
    def get_browse_node_return_trends(browse_node_id, marketplace_id, opts = {})
      data, _status_code, _headers = get_browse_node_return_trends_with_http_info(browse_node_id, marketplace_id, opts)
      data
    end

    # Retrieve the trends of topics that customers mention when they return items in a browse node.
    # @param browse_node_id A browse node ID is a unique identifier of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowseNodeReturnTrendsResponse, Integer, Hash)>] BrowseNodeReturnTrendsResponse data, response status code and response headers
    def get_browse_node_return_trends_with_http_info(browse_node_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_browse_node_return_trends ...'
      end
      # verify the required parameter 'browse_node_id' is set
      if @api_client.config.client_side_validation && browse_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'browse_node_id' when calling CustomerFeedbackApi.get_browse_node_return_trends"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_browse_node_return_trends"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/browseNodes/{browseNodeId}/returns/trends'.sub('{' + 'browseNodeId' + '}', browse_node_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BrowseNodeReturnTrendsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_browse_node_return_trends\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a browse node's ten most positive and ten most negative review topics.
    # @param browse_node_id The ID of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param sort_by The metric by which to sort the data in the response.
    # @param [Hash] opts the optional parameters
    # @return [BrowseNodeReviewTopicsResponse]
    def get_browse_node_review_topics(browse_node_id, marketplace_id, sort_by, opts = {})
      data, _status_code, _headers = get_browse_node_review_topics_with_http_info(browse_node_id, marketplace_id, sort_by, opts)
      data
    end

    # Retrieve a browse node&#x27;s ten most positive and ten most negative review topics.
    # @param browse_node_id The ID of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param sort_by The metric by which to sort the data in the response.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowseNodeReviewTopicsResponse, Integer, Hash)>] BrowseNodeReviewTopicsResponse data, response status code and response headers
    def get_browse_node_review_topics_with_http_info(browse_node_id, marketplace_id, sort_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_browse_node_review_topics ...'
      end
      # verify the required parameter 'browse_node_id' is set
      if @api_client.config.client_side_validation && browse_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'browse_node_id' when calling CustomerFeedbackApi.get_browse_node_review_topics"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_browse_node_review_topics"
      end
      # verify the required parameter 'sort_by' is set
      if @api_client.config.client_side_validation && sort_by.nil?
        fail ArgumentError, "Missing the required parameter 'sort_by' when calling CustomerFeedbackApi.get_browse_node_review_topics"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/browseNodes/{browseNodeId}/reviews/topics'.sub('{' + 'browseNodeId' + '}', browse_node_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id
      query_params[:'sortBy'] = sort_by

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BrowseNodeReviewTopicsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_browse_node_review_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve the positive and negative review trends of items in a browse node for the past six months.
    # @param browse_node_id A browse node ID is a unique identifier of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The marketplace ID is the globally unique identifier of a marketplace. For more information, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [BrowseNodeReviewTrendsResponse]
    def get_browse_node_review_trends(browse_node_id, marketplace_id, opts = {})
      data, _status_code, _headers = get_browse_node_review_trends_with_http_info(browse_node_id, marketplace_id, opts)
      data
    end

    # Retrieve the positive and negative review trends of items in a browse node for the past six months.
    # @param browse_node_id A browse node ID is a unique identifier of a browse node. A browse node is a named location in a browse tree that is used for navigation, product classification, and website content.
    # @param marketplace_id The marketplace ID is the globally unique identifier of a marketplace. For more information, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowseNodeReviewTrendsResponse, Integer, Hash)>] BrowseNodeReviewTrendsResponse data, response status code and response headers
    def get_browse_node_review_trends_with_http_info(browse_node_id, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_browse_node_review_trends ...'
      end
      # verify the required parameter 'browse_node_id' is set
      if @api_client.config.client_side_validation && browse_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'browse_node_id' when calling CustomerFeedbackApi.get_browse_node_review_trends"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_browse_node_review_trends"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/browseNodes/{browseNodeId}/reviews/trends'.sub('{' + 'browseNodeId' + '}', browse_node_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BrowseNodeReviewTrendsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_browse_node_review_trends\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API returns the associated browse node of the requested ASIN. A browse node is a location in a browse tree that is used for navigation, product classification, and website content on the Amazon retail website.
    # @param asin The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [BrowseNodeResponse]
    def get_item_browse_node(asin, marketplace_id, opts = {})
      data, _status_code, _headers = get_item_browse_node_with_http_info(asin, marketplace_id, opts)
      data
    end

    # This API returns the associated browse node of the requested ASIN. A browse node is a location in a browse tree that is used for navigation, product classification, and website content on the Amazon retail website.
    # @param asin The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowseNodeResponse, Integer, Hash)>] BrowseNodeResponse data, response status code and response headers
    def get_item_browse_node_with_http_info(asin, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_item_browse_node ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling CustomerFeedbackApi.get_item_browse_node"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_item_browse_node"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/items/{asin}/browseNode'.sub('{' + 'asin' + '}', asin.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BrowseNodeResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_item_browse_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve an item's ten most positive and ten most negative review topics.
    # @param asin The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace. The value must be a child ASIN.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param sort_by The metric by which to sort data in the response.
    # @param [Hash] opts the optional parameters
    # @return [ItemReviewTopicsResponse]
    def get_item_review_topics(asin, marketplace_id, sort_by, opts = {})
      data, _status_code, _headers = get_item_review_topics_with_http_info(asin, marketplace_id, sort_by, opts)
      data
    end

    # Retrieve an item&#x27;s ten most positive and ten most negative review topics.
    # @param asin The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace. The value must be a child ASIN.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param sort_by The metric by which to sort data in the response.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemReviewTopicsResponse, Integer, Hash)>] ItemReviewTopicsResponse data, response status code and response headers
    def get_item_review_topics_with_http_info(asin, marketplace_id, sort_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_item_review_topics ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling CustomerFeedbackApi.get_item_review_topics"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_item_review_topics"
      end
      # verify the required parameter 'sort_by' is set
      if @api_client.config.client_side_validation && sort_by.nil?
        fail ArgumentError, "Missing the required parameter 'sort_by' when calling CustomerFeedbackApi.get_item_review_topics"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/items/{asin}/reviews/topics'.sub('{' + 'asin' + '}', asin.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id
      query_params[:'sortBy'] = sort_by

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ItemReviewTopicsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_item_review_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve an item's positive and negative review trends for the past six months.
    # @param asin The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace. This API takes child ASIN as an input.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [ItemReviewTrendsResponse]
    def get_item_review_trends(asin, marketplace_id, opts = {})
      data, _status_code, _headers = get_item_review_trends_with_http_info(asin, marketplace_id, opts)
      data
    end

    # Retrieve an item&#x27;s positive and negative review trends for the past six months.
    # @param asin The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace. This API takes child ASIN as an input.
    # @param marketplace_id The MarketplaceId is the globally unique identifier of a marketplace, you can refer to the marketplaceId here : https://developer-docs.amazon.com/sp-api/docs/marketplace-ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemReviewTrendsResponse, Integer, Hash)>] ItemReviewTrendsResponse data, response status code and response headers
    def get_item_review_trends_with_http_info(asin, marketplace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerFeedbackApi.get_item_review_trends ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling CustomerFeedbackApi.get_item_review_trends"
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling CustomerFeedbackApi.get_item_review_trends"
      end
      # resource path
      local_var_path = '/customerFeedback/2024-06-01/items/{asin}/reviews/trends'.sub('{' + 'asin' + '}', asin.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ItemReviewTrendsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerFeedbackApi#get_item_review_trends\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
