=begin
#Selling Partner API for Delivery Shipment Invoicing

#The Selling Partner API for Delivery Shipment Invoicing helps you programmatically retrieve shipment invoice information in the Brazil marketplace for a selling partner’s orders.

OpenAPI spec version: 2022-07-01

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.71
=end

module AmzSpApi::DeliveryByAmazon
  class DeliveryShipmentInvoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the invoice status for the order or shipment you specify. You must specify either an `orderId` or `shipmentId` as query parameter. If both parameters are supplied, `orderId` takes precedence over `shipmentId`.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1.133 | 25 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
    # @param marketplace_id The marketplace identifier.
    # @param invoice_type The invoice&#x27;s type.
    # @param program_type The Amazon program that seller is currently enrolled.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id The order identifier.
    # @option opts [String] :shipment_id The shipment identifier.
    # @return [GetInvoiceStatusResponse]
    def get_invoice_status(marketplace_id, invoice_type, program_type, opts = {})
      data, _status_code, _headers = get_invoice_status_with_http_info(marketplace_id, invoice_type, program_type, opts)
      data
    end

    # Returns the invoice status for the order or shipment you specify. You must specify either an &#x60;orderId&#x60; or &#x60;shipmentId&#x60; as query parameter. If both parameters are supplied, &#x60;orderId&#x60; takes precedence over &#x60;shipmentId&#x60;.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1.133 | 25 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
    # @param marketplace_id The marketplace identifier.
    # @param invoice_type The invoice&#x27;s type.
    # @param program_type The Amazon program that seller is currently enrolled.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id The order identifier.
    # @option opts [String] :shipment_id The shipment identifier.
    # @return [Array<(GetInvoiceStatusResponse, Integer, Hash)>] GetInvoiceStatusResponse data, response status code and response headers
    def get_invoice_status_with_http_info(marketplace_id, invoice_type, program_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryShipmentInvoiceApi.get_invoice_status ...'
      end
      # verify the required parameter 'marketplace_id' is set
      if @api_client.config.client_side_validation && marketplace_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_id' when calling DeliveryShipmentInvoiceApi.get_invoice_status"
      end
      # verify the required parameter 'invoice_type' is set
      if @api_client.config.client_side_validation && invoice_type.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_type' when calling DeliveryShipmentInvoiceApi.get_invoice_status"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['Outbound'].include?(invoice_type)
        fail ArgumentError, "invalid value for 'invoice_type', must be one of Outbound"
      end
      # verify the required parameter 'program_type' is set
      if @api_client.config.client_side_validation && program_type.nil?
        fail ArgumentError, "Missing the required parameter 'program_type' when calling DeliveryShipmentInvoiceApi.get_invoice_status"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['EasyShip', 'FbaOnSite', 'SelfShip'].include?(program_type)
        fail ArgumentError, "invalid value for 'program_type', must be one of EasyShip, FbaOnSite, SelfShip"
      end
      # resource path
      local_var_path = '/delivery/2022-07-01/invoice/status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplaceId'] = marketplace_id
      query_params[:'invoiceType'] = invoice_type
      query_params[:'programType'] = program_type
      query_params[:'orderId'] = opts[:'order_id'] if !opts[:'order_id'].nil?
      query_params[:'shipmentId'] = opts[:'shipment_id'] if !opts[:'shipment_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'GetInvoiceStatusResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryShipmentInvoiceApi#get_invoice_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Submits a shipment invoice for a given order or shipment. You must specify either an `orderId` or `shipmentId` as query parameter. If both parameters are supplied, `orderId` takes precedence over `shipmentId`.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1.133 | 25 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The request body that specifies invoice, program and marketplace values.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id The identifier for the order.
    # @option opts [String] :shipment_id The identifier for the shipment.
    # @return [SubmitInvoiceResponse]
    def submit_invoice(body, opts = {})
      data, _status_code, _headers = submit_invoice_with_http_info(body, opts)
      data
    end

    # Submits a shipment invoice for a given order or shipment. You must specify either an &#x60;orderId&#x60; or &#x60;shipmentId&#x60; as query parameter. If both parameters are supplied, &#x60;orderId&#x60; takes precedence over &#x60;shipmentId&#x60;.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1.133 | 25 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The request body that specifies invoice, program and marketplace values.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id The identifier for the order.
    # @option opts [String] :shipment_id The identifier for the shipment.
    # @return [Array<(SubmitInvoiceResponse, Integer, Hash)>] SubmitInvoiceResponse data, response status code and response headers
    def submit_invoice_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryShipmentInvoiceApi.submit_invoice ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DeliveryShipmentInvoiceApi.submit_invoice"
      end
      # resource path
      local_var_path = '/delivery/2022-07-01/invoice'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'orderId'] = opts[:'order_id'] if !opts[:'order_id'].nil?
      query_params[:'shipmentId'] = opts[:'shipment_id'] if !opts[:'shipment_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SubmitInvoiceResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryShipmentInvoiceApi#submit_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
